* {
    padding: 0;
    margin: 0 auto;
    font-family: "Lucida Grande", Verdana, "Helvetica Neue", Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;

}

body {
    background: url("https://image.xiaomo.info/background/bg-2.jpg?version=1515336747.394") 0% 0% / cover fixed;
}

header {
    background: rgba(0, 0, 255, .8);
    text-align: center;
    width: auto;
}

header > ul > li {
    position: relative;
    display: inline-block;
    padding: 15px 20px;

    font-size: 250%;
    font-weight: 500;
    color: #cdddeb;
    cursor:pointer;
}

header > ul > li:hover,
header > ul > li:focus {
    color: #fff;
}

header > ul > .active:after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    vertical-align: middle;

    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    border-left: 10px solid transparent;
}


.sidebar {
    background: rgba(255, 255, 255, .8);
    position: fixed;
    width: 350px;
    height: 100%;
    padding: 20px 0;
}


/* Sidebar navigation */
.sidebar > ul > li {
    position: relative;
    display: block;
    padding: 10px 20px;
    cursor:pointer;
}

.sidebar > ul > .active,
.sidebar > ul > li:hover,
.sidebar > ul > li:focus {
    background: rgba(0, 0, 255, .8);
    color: #fff;
}

#main {
    background: rgba(255, 255, 255, .6);
    position: absolute;
    left: 350px;
    right: 0;
    width: auto;
    min-height: 100%;
}

#container . {
    background: rgba(255, 255, 255, .8);
}

/*
 * Footer docs
 */
footer{
    background: rgba(0, 0, 0, .8);
    padding-top:50px;
    padding-bottom:50px;
    margin-top:100px;
    text-align:center;
    color:#99979c;
}

footer a  {
    color:#fff;
}
