.article {
    display: inline-block;
    position: relative;

    margin: 20px 40px;
    box-shadow: inset 0 0 1px 1px #e2e4da, 0 0 15px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.45);
}

.article-cover {
    float: left;
    width: 400px;
    height: 250px;
}

.article-header {
    font-size: xx-large;
    border-left: 6px solid #eee;
    padding: 15px 50px 15px 25px;
}

.article-header:hover {
    border-left: 5px solid #9c9;
}

.article-header .article-title {
    float: left;
}

.article-header .article-meta {
    float: right;
}

.article-header a {
    color: #696969;
    text-decoration: none;
    outline-width: 0;
    display: block;
}

.article-entry {
    line-height: 1.65em;
    padding: 2em;
    font-size: large;
}

.article-info {
    padding-top: 20px;
    margin: 130px 30px 0 30px;
}

.article-info > .article-tag {
    display: inline-block;
}

.article-more-link {
    float: right;
    margin: auto;
}

.clearfix {
    clear: both;
    height: 0;
    overflow: hidden;
}

::selection {
    background: rgba(147,181,224,0.6);
    color: #fff;
}